.article-footer {
  .sharethis {
    font-size: 80%;
    text-align: center;

    @include breakpoint($mommabear) {
      font-size: 100%;
      text-align: right;
    }

    a.social-icon {
      img {
        $iconsize: 35px;
        height: $iconsize;
        margin-left: .25em;
        position: relative;
        top: 10px;
        width: $iconsize;

        @include breakpoint($mommabear) {
          opacity: .6;
          @include fade_transition(opacity);
        }
      }

      &:hover {
        img {
          @include breakpoint($mommabear) {  opacity: 1; }
        }
      }
    }
  }
}

footer {
  background: $cs-red-wine;
  color: $cs-primary;
  padding: 2em 0;

  a {
    @include link-colors($cs-primary, $cs-yellow);
    @include fade_transition(color);
    text-decoration: none;
  }

  address {
    margin-bottom: 1em;
  }

  ul.footer-nav {
    margin: 0;

    li {
      list-style: none;
      display: block;

      a {
        border-bottom: 1px solid lighten($cs-red-wine, 10%);
        display: block;
        padding: .5em;
        text-decoration: none;
      }

      &:first-child {
        a { border-top: 1px solid lighten($cs-red-wine, 10%); }
      }
    }
  }

  .footer-contact {
    font-size: 1.125em;
  }

  .footer-branding {
    margin-bottom: .5em;
    text-align: center;
    img { max-width: 200px; }
    @include breakpoint($mommabear) { text-align: left; }
  }
}