.navbar {
  background-color: transparent;
  // max-width: 750px;
  padding: .5em .75em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  @media (max-width: 767px) { background-color: $cs-red-wine; }
  @include breakpoint($papabear) { display: none; }
}

a.btn-menu {
  @include link-colors($cs-primary, $cs-yellow);
  text-decoration: none;
}

.navigation {
  display: none;

  @include breakpoint($papabear) {
    // @include linear-gradient(to right, transparent, black);
    @include linear-gradient(to right, transparent 0%, transparent 10%, rgba(0,0,0,.5) 50%, rgba(0,0,0,.75) 100%);

    display: block;
    padding: .5em;
    right: 0;
    position: fixed;
    text-align: right;
    top: 0;
    width: 50%;

    ul.nav-main {
      list-style: none;
      margin-bottom: 0;

      li {
        display: inline-block;

        a {
          @include link-colors($cs-primary, $cs-yellow);
          @include fade_transition(color);
          display: inline-block;
          font-size: 1.125em;
          padding: .5em;
          text-decoration: none;
        }
      }
    }
  }
}

.sidr-closeer {
  margin: 0.96875em 1em;
}