
/* ::State styles */
/* ------------------------------------------------------------ */

.is-hidden {
  display: none;
}

.is-shown, .is-block {
  display: block;
}

.is-hidden-mobile {
  display: none;
  @include breakpoint($mommabear) {
    display: block;
  }
}

.is-uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.is-lowercase {
  text-transform: lowercase;
}

.is-centered {
  text-align: center;
}

.is-big {
  font-size: 140%;
}