@import "compass/reset";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities";

@import "singularitygs";
@import "bourbon";

@import "modules/settings";
@import "modules/mixins";

@import "vendor/font-awesome.min";
@import "vendor/pure-buttons";
// @import "vendor/pure-forms";

@import "partials/grid";
@import "partials/utilities";
@import "partials/typeography";
@import "partials/forms";
@import "partials/header";
@import "partials/footer";

@import "vendor/jquery.sidr.dark";


/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */

// Use clearfix if you need general clearfixing
.clearfix       { @include clearfix; }


// Use pie-clearfix if you need clearfixing that doesn't use overflow: hidden
.pie-clearfix     { @include pie-clearfix; }


// OTHER EXTENDS

// Max width, for images etc... in RWD
.max-width      { max-width: 100%; height: auto; }



// Global Styles

* { @include box-sizing(border-box); }

html, body { height: 100%; }

body {
  font: 100%/1.4 $font-serif;
  @include advancedtype;
}

main { display: block; }

img, embed, object, video {
  @extend .max-width;
}

body {
  background-color: $cs-flat;

  .wrapper {
    height: 100%;
    width: 100%;
  }

  @include breakpoint($mommabear) {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    &.index   { background-image: url(../images/bg-home-large.jpg); }
    &.wine    { background-image: url(../images/bg-wine-large.jpg); }
    &.beer    { background-image: url(../images/bg-beer-large.jpg); }
    &.spirits { background-image: url(../images/bg-spirits-large.jpg); }
    &.events  { background-image: url(../images/bg-events-large.jpg); }
    &.about { background-image: url(../images/bg-home-large.jpg); }
  }
}

.main {
  margin: 0 auto;
  max-width: 750px;
  min-height: 100vh;
  width: 90%;

  @include breakpoint($papabear) {
    margin: 0;
    width: 50%;

    left: 3em;
    position: relative;
  }
}

body .main { background: url(../images/paper-wine.jpg) repeat; }

.post {
  padding: 5em 2em 2em;
  word-break: break-word;

  // @include breakpoint($mommabear) {  padding: 5em; }

}

.global-branding {
  bottom: 1em;
  position: fixed;
  right: 1em;
}